include README.md
include requirements.txt
include LICENSE
include winchester/db/migrations/README
include winchester/db/migrations/script.py.mako

recursive-include etc *
recursive-include winchester/db/migrations/versions *

exclude .gitignore
exclude .gitreview
global-exclude *.pyc
